DB_USER=postgres
DB_PASS=postgres
DB_PORT=5435
DB_NAME=smart_season

PORT=3000
API_BASE_URL=/api/v1
; DATABASE_URL=postgres://postgres:postgres@localhost:5435/smart_season
DATABASE_URL=<your-render-internal-database-url>
JWT_SECRET=<your-jwt-secret>
COOKIE_PARSER_SECRET=<your-cookie-secret>
ARCJET_KEY=<your-arcjet-key>

NODE_ENV=development
OPENAI_API_KEY=<your-openai-api-key>
LANGSMITH_TRACING=true
LANGSMITH_API_KEY=<your-api-key>
ALLOWED_ORIGINS=https://www.hxrrvpsxtz.xyz

AWS_REGION=<your-region>
AWS_ACCESS_KEY_ID=<your-access-key-id>
AWS_SECRET_ACCESS_KEY=<your-secret-access-key>
AWS_BUCKET_NAME=<your-bucket-name>
